<header id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recap Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [class]="getCurrentNaviClass('home')" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a [class]="getCurrentNaviClass('brands')" href="/brands">Brands</a>
          </li>
          <li class="nav-item">
            <a [class]="getCurrentNaviClass('cars')" href="/cars">Cars</a>
          </li>
          <li class="nav-item">
            <a [class]="getCurrentNaviClass('colors')" href="/colors">Colors</a>
          </li>
          <li class="nav-item">
            <a [class]="getCurrentNaviClass('rentals')" href="/rentals">Rentals</a>
          </li>
        </ul>
        <form class="d-flex">
          <button *ngIf="!isAuthenticated" class="btn btn-danger me-2" routerLink="/register">Register</button>
          <button *ngIf="!isAuthenticated" class="btn btn-success me-2" routerLink="/login">Login</button>
          <div *ngIf="isAuthenticated" class="dropdown ms-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/user">Profil</a></li>
              <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
            </ul>
          </div>

          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </div>
  </nav>
</header>
