<br>
<div id="page-head">
  <div id="page-title">
    <h4 class="page-header text-overflow text-center">Recap Project Brands Page</h4>
  </div>
</div>

<div id="page-content">

  <hr class="new-section-sm bord-no">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-2">

      <div class="panel panel-body">
        <div class="panel-body">
          <div class="container">
            <div class="form-group mb-3">
              <button routerLink="/brands/add" class="btn btn-primary">
                Brand Add
              </button>
            </div>

            <div class="row">
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="filterText" class="form-label">Brand search</label>
                  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="enter search word">
                </div>
                <div *ngIf="filterText.length>2" class="alert alert-warning">
                  you've {{filterText}} searching
                </div>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Brand Name</th>
                      <th>Process</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)="setCurrentBrands(brand)" *ngFor="let brand of brands |brandFilterPipe:filterText" [class]='setCurrentBandClass("brand/" + brand.id)'>
                        <td routerLink="/brand/{{brand.id}}">{{brand.name}}</td>
                        <td><button routerLink="/brands/{{brand.id}}" class="btn btn-warning">Edit</button></td>
                    </tr>
                  </tbody>
                </table>
                <h5 *ngIf="currentBrand">{{currentBrand.name}}</h5>
              </div>
              <div class="col-lg-9">
                <app-car></app-car>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
