<br>
<div id="page-head">
  <div id="page-title">
    <h4 class="page-header text-overflow text-center">Recap Project Car Images Page</h4>
  </div>
</div>

<div id="page-content">

  <hr class="new-section-sm bord-no">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-2">

      <div class="panel panel-body text-center">
        <div class="panel-body">
          <div class="container">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="rentDate">Rent Date</label>
                  <input type="date" id="rentDate" [(ngModel)]="rentDate" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="returnDate">Return Date</label>
                  <input type="date" id="returnDate" [(ngModel)]="returnDate" class="form-control">
                </div>
                <div class="col-auto">
                  <br>
                  <button type="button" class="btn btn-primary" (click)="setRental()" data-bs-toggle="modal" data-bs-target="#paymentModel">
                    Rent
                  </button>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <div class="row">
                <div *ngFor="let carImage of carImages" class="col-md-6">
                  <img src="assets/img/{{carImage.imagePath}}" class="figure-img img-fluid rounded">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="paymentModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Full Name</label>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="creditCart.fullName" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Cart Number</label>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="creditCart.cartNumber" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">Mounth</label>
            <div class="col-md-4">
              <input type="text" [(ngModel)]="creditCart.expirationMounth" class="form-control">
            </div>
            <label class="col-md-2 control-label">Year</label>
            <div class="col-md-4">
              <input type="text" [(ngModel)]="creditCart.expirationYear" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-md-2 control-label">CVV</label>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="creditCart.cvv" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="postRentAndPay(creditCart,rental)" data-bs-dismiss="modal" class="btn btn-primary">Pay and Rent A Car</button>
      </div>
    </div>
  </div>
</div>
